# SPDX-License-Identifier: MIT
# SPDX-FileCopyrightText: 2024 R. Berkay Bozkurt <resitberkaybozkurt@gmail.com>

[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
coverage = "==7.4.1"
flake8 = "==6.0.0"
notebook = "==7.0.6"
plotly = "==5.18.0"
pre-commit = "==3.5.0"
pytest = "==7.4.0"
pytest-env = "==1.0.1"
myst_parser = "==2.0.0"

[packages]
pre-commit = "*"
cloudpickle = "==3.0.0"
farama-notifications = "==0.0.4"
gymnasium = "==0.29.1"
numpy = "==1.26.4"
pyvirtualdisplay = "==3.0"
imageio-ffmpeg = "==0.4.9"
pygame = "==2.5.2"
pickle5 = "==0.0.11"

[requires]
python_version = "3.10"
