# SPDX-License-Identifier: MIT
# SPDX-FileCopyrightText: 2024 R. Berkay Bozkurt <resitberkaybozkurt@gmail.com>

[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
coverage = "==7.4.1"
flake8 = "==6.0.0"
notebook = "==7.0.6"
plotly = "==5.18.0"
pre-commit = "==3.5.0"
pytest = "==7.4.0"
pytest-env = "==1.0.1"
myst_parser = "==2.0.0"

[packages]
pre-commit = "*"
cloudpickle = "==3.0.0"
farama-notifications = "==0.0.4"
gymnasium = "==0.29.1"
numpy = "==1.26.4"
click = "==8.1.7"
click-plugins = "==1.1.1"
cligj = "==0.7.2"
fiona = "==1.9.6"
geopandas = "==0.14.4"
networkx = "==3.3"
osmnx = "==1.9.3"
pandas = "==2.2.2"
pyproj = "==3.6.1"
pytz = "==2024.1"
shapely = "==2.0.4"
tzdata = "==2024.1"
contourpy = "==1.2.1"
cycler = "==0.12.1"
fonttools = "==4.51.0"
kiwisolver = "==1.4.5"
matplotlib = "==3.8.4"
pillow = "==10.3.0"
pyparsing = "==3.1.2"
scipy = "==1.13.0"

[requires]
python_version = "3.10"
